/* your custom css */

@font-face {
    font-family: 'Diavlo Light';
    src: url('https://cdn.shoutca.st/cast/css/Diavlo-Light-Regular.ttf.woff') format('woff'),
         url('https://cdn.shoutca.st/cast/css/Diavlo-Light-Regular.ttf.svg#Diavlo-Light-Regular') format('svg'),
         url('https://cdn.shoutca.st/cast/css/Diavlo-Light-Regular.ttf.eot'),
         url('https://cdn.shoutca.st/cast/css/Diavlo-Light-Regular.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

p a {
    text-decoration: underline;
    color: #2cc76a;
}

.headerTitle {
    font-family: 'Diavlo Light';
    font-size: 28px !important;
    padding-top: 17px !important;
    line-height: 34px !important;
    font-weight: 400 !important;
}

.fixedHeaderContainer {
    min-height: 60px !important;
}

.navigationSlider .slidingNav ul li a {
    padding: 22px 15px !important;
}

.homeContainer {
    text-align: center;
    background: #232a31;
    color: white;
}

.projectTitle {
    color: white;
}

.promoSection .button {
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2em;
    padding: 10px;
    text-decoration: none !important;
    text-transform: uppercase;
    transition: background 0.3s, color 0.3s;
    margin: 10px
}

.promoSection .button:hover {
    border: 1px solid #2cc76a;
    border-radius: 3px;
    color: #2cc76a;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2em;
    padding: 10px;
    text-decoration: none !important;
    text-transform: uppercase;
    transition: background 0.3s, color 0.3s;
    margin: 10px
}